@using jobPortal.Models.job
@model List<JobModel>

<div class="container-xxl py-5">
    <div class="container">
        <h1 class="text-center mb-5 wow fadeInUp" data-wow-delay="0.1s">Job By Category</h1>
        @if(Model.Any()){
            @foreach (var job in Model)
            {

                <div class="tab-content">
                    <div id="tab-1" class="tab-pane fade show p-0 active">
                        <div class="job-item p-4 mb-4">
                            <div class="row g-4">
                                <div class="col-sm-12 col-md-8 d-flex align-items-center">
                                    <img class="flex-shrink-0 img-fluid border rounded" src="img/com-logo-5.jpg" alt="" style="width: 80px; height: 80px;">
                                    <div class="text-start ps-4">
                                        <h5 class="mb-3">@job.Title</h5>
                                        <span class="text-truncate me-3"><i class="fa fa-map-marker-alt text-primary me-2"></i>@job.appUser.Address</span>

                                        <span class="text-truncate me-0"><i class="far fa-money-bill-alt text-primary me-2"></i>@job.Salary</span>
                                    </div>
                                </div>
                                <div class="col-sm-12 col-md-4 d-flex flex-column align-items-start align-items-md-end justify-content-center">
                                    <div class="d-flex mb-3">

                                        <a asp-controller="Job" asp-action="Detail" asp-route-id="@job.Id" class="btn btn-primary">View Details</a>
                                    </div>
                                    <small class="text-truncate"><i class="far fa-calendar-alt text-primary me-2"></i>Date Line: @job.PostedAt</small>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>

            }   
            }
            else{
                <h1>no jobs found</h1>
            }
     

    </div>
</div>
