@using jobPortal.Models.job
@model List<JobModel>


<div class="container">
    <h1 class="text-center mb-4">Available Jobs</h1>
    <div class="row">
        @foreach (var job in Model)
        {
            <div class="col-md-6 mb-4">
                <div class="card shadow">
                    <div class="card-body">
                        <h5 class="card-title">@job.Title</h5>
                        <p class="card-text"> <strong>Company:</strong> @job.appUser.Name</p>
                       
                    
                        <p class="card-text"><strong>Salary:</strong> @job.Salary</p>
                        <p class="card-text"><strong>Posted At:</strong> @job.PostedAt.ToShortDateString()</p>
                        <a asp-controller="Job" asp-action="Detail" asp-route-id="@job.Id" class="btn btn-primary">View Details</a>
                    </div>
                </div>
            </div>
        }
    </div>
</div>
